<div class="row">

  <div class="col">

        <h4>Print Preview</h4>

        <div *ngFor="let prototype of prototypes;"  class="proto-design"  
        [ngStyle]="prototypes[0].styles[iteration].general">
            <!--Get Fields-->
             <div *ngFor="let fields of prototype.fields; index as i;" [ngStyle]="" class="field-holder">
                <div  [ngStyle]="prototypes[0].styles[iteration].elements[i]">{{fields.text}}</div>
             </div>
         </div>

  </div>

  <div class="col">

    <h4>Create Your personal quote</h4>

    <div class="proto-settings">
        <label>Edit texts</label>

        <div *ngFor="let prototype of prototypes" >
           <!--Get Input Fields-->
            <div *ngFor="let fields of prototype.fields" class="form-group">
                <input [(ngModel)]="fields.text" placeholder="" class="form-control" >
            </div>
        </div>

        <label>Select Design Style</label>

        <div *ngFor="let prototype of prototypes" class="designs row" >
            <!--Get Input styles-->
             <div *ngFor="let style of prototype.styles; index as j" class="col-md-4">
                <div class="style" [ngStyle]="style.general" (click)="changeDesign(j)">
           
                    <div *ngFor="let prototype of prototypes" >
                        <!--Get Fields-->
                        <div *ngFor="let fields of prototype.fields; index as i;" [ngStyle]="style.elements[i]">
                            {{fields.text}}
                        </div>
                    </div>
                  
                </div>
             </div>
         </div>


    </div>
  </div>

</div>